[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.1"
celery = "==5.2.3"
sqlalchemy = "==1.3.8"
pymysql = "==1.1.1"
redis = "==4.5.4"
Flask-Login = "==0.4.0"
Flask-Migrate = "==2.0.2"
Flask-Script = "==2.0.5"
Flask-SQLAlchemy = "==2.1"
Flask-WTF = "==1.0.0"
Flask-User = {git = "https://github.com/lingthio/Flask-User.git",ref = "master"}
email-validator = "==1.1.3" # needed by Flask-User
pytest = "==3.0.5"
pytest-cov = "==2.4.0"
attrs = "==19.1.0"
feedparser = "==6.0.8"
requests = "==2.32.4"

[requires]
python_version = "3.9"
